@using SkillMapProject.Models
@{
    Member user = (Member)HttpContext.Current.Session[Constant.SESSION_LOGIN];
}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    <link href="~/Content/fontawesome-free/css/all.min.css" rel="stylesheet" />
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("heads", required: false)

    <link href="~/Content/css/common.css" rel="stylesheet" />
</head>
<body class="bg">
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid mr-5">
            <div class="navbar-header">
                <div class="row">
                    <div class="col-2">
                        <img src="~/Resources/logo.png" />
                    </div>
                    <div class="col-10">
                        <h2 class="text-white">CERTIFICATE AND SKILL MAP</h2>
                    </div>
                </div>
            </div>
            <ul class="nav">
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("Index", "Home")"> <i class="fas fa-home"></i> Trang chủ</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="@Url.Action("ListSkill", "Skill")"><i class="fas fa-graduation-cap"></i> Kĩ năng</a>
                </li>
                
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle text-white" data-toggle="dropdown" href="#" aria-haspopup="true" aria-expanded="false"><i class="fas fa-user"></i> Tài khoản</a>
                    <div class="dropdown-menu">
                        @if (user != null)
                        {
                            <a class="dropdown-item" href="#">@(user.Name)</a>
                            <a class="dropdown-item" href="@Url.Action("Logout", "Login")">Đăng xuất</a>
                        }
                        else
                        {
                            <a class="dropdown-item" href="@Url.Action("Login", "Login")">Đăng nhập</a>
                        }

                    </div>
                </li>
            </ul>
            <ul class="nav">
              
            </ul>
        </div>
    </div>
    <div class="p-5 bg-white scrollable">

        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - UMC Việt Nam</p>
        </footer>
    </div>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    <script src="~/Scripts/custom/common.js"></script>
</body>
</html>
