@using SkillMapProject.Models

@{
    ViewBag.Title = "Home Page";
}
@section heads
{
    <link href="@Url.Content("~/Content/css/main.css")"
          rel="stylesheet" type="text/css" />
}
<div class="loading middle">
    <img src="~/Resources/loading.gif" />
</div>
<div>
    <div class="row">
        <input type="text" placeholder="Nhập mã nhân viên" class="form-control mb-3 col-2 mr-3" id="search" />
        <select class="form-control col-2" id="dept">
            @if (ViewBag.Depts != null)
            {
                <option name="Default">Chọn Phòng ban</option>
                foreach (var dept in ViewBag.Depts)
                {
                    <option name="@dept.DeptName">@dept.DeptName</option>
                }
            }


        </select>
        <div class="col-5"></div>
        <button class="form-control col-2 bg-success text-white"  data-toggle="modal" data-target="#modelSelectSkillToExpory">
            <i class="fas fa-cloud-download-alt"></i> Export
        </button>
    </div>
   
    <table class="table table-main table-bordered mt-2">
        <thead>
            <tr>
                <th scope="col" style="width:20px;">STT</th>
                <th scope="col" style="width:40px;">Code</th>
                <th scope="col" style="width:50px;">Họ Tên</th>
                <th scope="col" style="width:50px;">Khách hàng</th>
                @foreach (var skill in ViewBag.SkillLevels)
                {
                    <th style="width:200px;">@skill.Name</th>
                }
                <th></th>
            </tr>
        </thead>
        <tbody id="list_skill_of_staff" class="scrollable"></tbody>
    </table>
</div>

<!-- Modal Add Skill For Staff -->
<div class="modal fade" id="modalAddSkillForStaff" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Thêm chứng chỉ cho nhân viên</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <p id="Error"></p>
                <div class="form-group">

                    <div class="row">
                        <div class="col-3">Kĩ năng</div>
                        <div class="col-9">
                            <select class="form-control" id="skill_selected">
                                @if (ViewBag.SkillLevels != null)
                                {
                                    foreach (var skill in ViewBag.SkillLevels)
                                    {
                                        var levels = "";
                                        foreach (var level in skill.SkillLevels)
                                        {
                                            levels += level.Name + ",";

                                        }

                                        <option value="@levels" name="@skill.ID">@skill.Name</option>
                                    }
                                }
                            </select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">
                            Cấp độ
                        </div>
                        <div class="col-9">
                            <select class="form-control" id="capdo_selected"></select>
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">Chứng chỉ</div>
                        <div class="col-9">
                            <select class="form-control" id="levels_selected"></select>
                        </div>
                    </div>
                  
                    <br />
                    <div class="row">
                        <div class="col-3">
                            Ngày Cấp
                        </div>
                        <div class="col-9">
                            <input type="date" class="form-control date" id="NgayCap" />
                        </div>
                    </div>
                    <br />
                    <div class="row">
                        <div class="col-3">
                            Ngày Thi Xác nhận
                        </div>
                        <div class="col-9">
                            <input type="date" value="" class="form-control date" id="NgayThiXacNhan" />
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-success" onclick="submitSkillForStaff()">Lưu lại</button>
            </div>

        </div>
    </div>
</div>

<!--Model select skill to export-->
<div class="modal fade" id="modelSelectSkillToExpory" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Chọn kĩ năng</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <select class="form-control" id="list_skill">
                    @foreach (var skill in ViewBag.SkillLevels)
                    {
                        <option value="@skill.ID">@skill.Name</option>
                    }
                  
                </select>
                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="button" class="btn btn-success" onclick="exportToExcel()">Export</button>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/custom/home.js"></script>
}
