@using SkillMapProject.Models
@model SkillMapProject.Models.CertificateByUser
@{
    ViewBag.Title = "AddSkillForStaff";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section heads
{
    <link href="@Url.Content("~/Content/css/main.css")"
          rel="stylesheet" type="text/css" />
}

<div class="d-inline mr-5">
    <input type="hidden" value="@Model.userID" id="userID" />
    <label class="font-weight-bold">Mã NV</label>
    <span id="StaffCode">@Model.Code</span>
</div>
<div class="d-inline mr-5">
        <label class="font-weight-bold">Họ tên</label>
        <span>@Model.FullName</span>
</div>
<div class="d-inline mr-5">
    <label class="font-weight-bold">Phòng ban</label>
    <span>@Model.Dept</span>
</div>
<div class="d-inline">
    <label class="font-weight-bold">Ngày vào</label>
    <span>@Model.DateEnter</span>
</div>
<hr />
<ul class="nav nav-tabs" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" data-toggle="tab" href="#tabs-1" role="tab">Kĩ năng</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" data-toggle="tab" href="#tabs-2" role="tab">Môn học toàn công ty</a>
    </li>

</ul><!-- Tab panes -->
<div class="tab-content">
    <div class="tab-pane active" id="tabs-1" role="tabpanel">
        <br />
        <table class="table-bordered table table-detail">
            <thead>
                <tr>
                    <th>Kĩ năng</th>
                    <th>Cấp độ hiện tại</th>
                    <th>Cấp độ I</th>
                    <th>Cấp độ II</th>
                    <th>Cấp độ III</th>
                </tr>

            </thead>
            <tbody class="scrollable">
                @foreach (var cer in Model.ListSkills)
                {
                    <tr>
                        <td>@cer.Skill.Name</td>
                        <td class="p-0">
                            @*Cấp độ hiện tại*@
                            <table class="table-detail">
                                <thead>
                                    <tr>
                                        <th>Cấp độ</th>
                                        <th>Ngày cấp hiện tại</th>
                                        <th>Ngày thi xác nhận</th>
                                        <th>Ngày thi thực tế</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>@cer.LevelCurrent</td>
                                        <td>@cer.CurrentGrantDateStr</td>
                                        <td>@cer.NgayThiXacNhanStr</td>
                                        <td>@cer.NgayThiThucTeStr</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                        <td class="p-0">
                            @*Cấp độ I*@
                            @if (!string.IsNullOrEmpty(cer.CapDo))
                            {
                                <table class="table-detail">
                                    <thead>
                                        <tr>
                                            <th>Cấp độ</th>
                                            <th>Ngày cấp</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@cer.CapDo</td>
                                            <td>@cer.NgayCapStr</td>
                                        </tr>
                                    </tbody>
                                </table>
                            }
                            else
                            {
                                @(" ");
                            }

                        </td>
                        <td class="p-0">
                            @*Cấp độ II*@
                            @if (!string.IsNullOrEmpty(cer.NangCap))
                            {
                                <table class="table-detail">
                                    <thead>
                                        <tr>
                                            <th>Cấp độ</th>
                                            <th>Ngày cấp</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@cer.NangCap</td>
                                            <td>@cer.NgayNangCapStr</td>

                                        </tr>
                                    </tbody>
                                </table>
                            }

                        </td>
                        <td class="p-0">
                            @*Cấp độ III*@
                            @if (!string.IsNullOrEmpty(cer.CNNguoiDaoTao))
                            {
                                <table class="table-detail">
                                    <thead>
                                        <tr>
                                            <th>Cấp độ</th>
                                            <th>Ngày cấp</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>@cer.CNNguoiDaoTao</td>
                                            <td>@cer.NgayCNNguoiDaoTaoStr</td>

                                        </tr>
                                    </tbody>
                                </table>
                            }

                        </td>
                        <td>
                            <a class="btn btn-warning text-white mr-3" href="@Url.Action("SuaChungChiChoNV", "Home", new { ID = cer.ID })">
                                <i class="fas fa-edit"></i>
                            </a>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="tab-pane" id="tabs-2" role="tabpanel">

    </div>

</div>

<!--Them Mon hoc cho nv-->
<div class="modal fade" id="modalAddSkillMapForStaff" tabindex="-1" role="dialog" aria-labelledby="modalTitle" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="modalTitle">Thêm môn học cho NV</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body ">
                <p id="Error"></p>
                <div class="form-group">
                    <label class="font-weight-bold">Mã bộ môn</label>
                    <input type="text" id="MaMonHoc" class="form-control mt-1 col-md-12" readonly />
                    <label class="font-weight-bold mt-3">Tên bộ môn</label>
                    <input type="text" id="TenMonHoc" class="form-control mt-1 col-md-12" readonly />
                    <label class="font-weight-bold mt-3">Ngày Tham Gia</label>
                    <input type="date" class="form-control date mt-1 col-md-12" id="NgayThamGia" />
                    <label class="font-weight-bold mt-3">Ghi chú</label>
                    <textarea class="form-control mt-1 col-md-12" id="GhiChu"></textarea>
                </div>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Đóng</button>
                <button type="submit" class="btn btn-success" onclick="ThemSkillMap()">Lưu lại</button>
            </div>

        </div>
    </div>
</div>
@section scripts{
    <script src="~/Scripts/custom/skillmap.js"></script>
}
